# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output folders
bin/
build/

# Go modules cache
vendor/
pkg/

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Logs
*.log

# Secrets
.env
